* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.cube {
    position: relative;
    transform-style: preserve-3d;
    animation: rotate 15s infinite linear;
}

@keyframes rotate {
    0% { transform: rotateX(0) rotateY(0); }
    100% { transform: rotateX(360deg) rotateY(360deg); }
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #0f1115;
    color: white;
}

header {
    position: fixed;
    width: 100%;
    background-color: #0f1115;
    padding: 2rem 20rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}

h1 > strong {
    color: #3DDC97;
}

nav a {
    margin: 0 1rem;
    text-decoration: none;
    color: white;
}

nav > a:hover {
    color: #3DDC97;
}

.hero {
    display: flex;
    align-items: center;
    padding: 15rem 20rem 20rem;
    justify-content: space-between;
}

.hero-text {
    max-width: 600px;
}

.hero-text h1 {
    font-size: 3rem;
    color: white;
}

.hero-text h1 span {
    color: #3DDC97;
}

.hero-text p {
    margin: 1rem 0;
    font-size: 1rem;
    color: #aaa;
}

.hero-text button {
    padding: 0.8rem 1.5rem;
    background-color: #3DDC97;
    border: none;
    color: white;
    font-weight: bold;
    cursor: pointer;
    border-radius: 6px;
}

.hero-img {
    position: absolute;

    background-size: cover;
    border-radius: 50%;
    width: 20rem;
    height: 20rem;
    padding: 50px ;
    transform: translate(40rem, -30px);
    
}

.hero-img > .item > a {
    z-index: 1;
}

.hero-img img {
    width: 300px;
    border-radius: 20px;
    animation: floatImage 4s ease-in-out infinite;
}

@keyframes floatImage {
    0% { transform: translateY(0px); }
    50% { transform: translateY(-15px); }
    100% { transform: translateY(0px); }
}

.section {
    padding: 10rem 20rem 20rem;
}

.section h2 {
    font-size: 2rem;
    margin-bottom: 2rem;
    color: #f0f7f4;
    border-radius: 10px;
    text-align: center;
}

#about {
    background: #3DDC97;
}

#about h2 {
    background: #0f1115;
}

.section > p {
    font-size: 24px;
}

.services, .portfolio {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
}

#portfolio {
    background: #3DDC97;
    padding-bottom: 30pc;
}

#portfolio h2 {
    background-color: #0f1115;
}

.card {
    background-color: #1c1f25;
    padding: 2rem;
    border-radius: 10px;
    flex: 1 1 300px;
    transition: transform 0.3s;
}

.card h3 {
    color: #3DDC97;
    margin-bottom: 1rem;
}

.card p {
    font-size: 2rem;
    color: #ccc;
}

.card:hover {
    transform: scale(1.05);
}

#contact {
    background: #3DDC97;
    max-width: 500px;
    margin: 40px auto;
    padding: 20px;
    background-color: #1C1F25;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    margin-bottom: 20rem;
}

#contact h2 {
    background-color: #0f1115;
    margin-bottom: 20px;
    text-align: center;
}

#contact form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#contact input,
#contact select,
#contact button {
    padding: 10px;
    border: 1px solid #3DDC97;
    border-radius: 5px;
}

#contact button {
    background-color: #3DDC97;
    color: white;
    border: none;
    cursor: pointer;
}

#contact button:hover {
    background-color: #2bc589;
}

footer {
    padding: 2rem;
    text-align: center;
    color: #777;
    background-color: #0f1115;
}

.cube {
    width: 150px;
    height: 150px;
    color: #3DDC97;
    position: relative;
    transform-style: preserve-3d;
    animation: rotate 15s infinite linear;
    margin: 0 50rem;
    z-index: -1;
}

.face {
    position: absolute;
    width: 500px;
    height: 500px;
    background: #3DDC97;
    opacity: 0.9;
    border: 2px solid rgb(255, 255, 255);
}

.front  { transform: translateZ(75px); }
.back   { transform: rotateY(180deg) translateZ(75px); }
.right  { transform: rotateY(90deg) translateZ(75px); }
.left   { transform: rotateY(-90deg) translateZ(75px); }
.top    { transform: rotateX(90deg) translateZ(75px); }
.bottom { transform: rotateX(-90deg) translateZ(75px); }

.skills-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

.skill {
    background-color: #1c1f25;
    padding: 1rem;
    border-radius: 10px;
    flex: 1 1 300px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
    transition: transform 0.3s;
}

.skill:hover {
    transform: scale(1.05);
}

.skill-icon {
    font-size: 30px;
    margin-bottom: 10px;
}

.skill-name {
    margin-bottom: 8px;
    font-weight: bold;
}

.progress-bar {
    background-color: #334155;
    border-radius: 10px;
    height: 10px;
    overflow: hidden;
}

.progress {
    height: 100%;
    border-radius: 10px;
}

.Css { background-color: #3b82f6; width: 90%; }
.Html { background-color: #f59e0b; width: 85%; } 
.JavaScript { background-color: #FFD600; width: 80%; }
.Java { background-color: #8D78EE; width: 75%; } 
.mySQL { background-color: #00A2FF; width: 70%; }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.cube {
    position: relative;
    transform-style: preserve-3d;
    animation: rotate 15s infinite linear;
}

@keyframes rotate {
    0% { transform: rotateX(0) rotateY(0); }
    100% { transform: rotateX(360deg) rotateY(360deg); }
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #0f1115;
    color: white;
}

header {
    position: fixed;
    width: 100%;
    background-color: #0f1115;
    padding: 2rem 20rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}

h1 > strong {
    color: #3DDC97;
}

nav a {
    margin: 0 1rem;
    text-decoration: none;
    color: white;
}

nav > a:hover {
    color: #3DDC97;
}

.hero {
    display: flex;
    align-items: center;
    padding: 15rem 20rem 20rem;
    justify-content: space-between;
}

.hero-text {
    max-width: 600px;
}

.hero-text h1 {
    font-size: 3rem;
    color: white;
}

.hero-text h1 span {
    color: #3DDC97;
}

.hero-text p {
    margin: 1rem 0;
    font-size: 1rem;
    color: #aaa;
}

.hero-text button {
    padding: 0.8rem 1.5rem;
    background-color: #3DDC97;
    border: none;
    color: white;
    font-weight: bold;
    cursor: pointer;
    border-radius: 6px;
}

.hero-img {
    background: #3DDC97 url('img/foto-perfil.png') center no-repeat;
    background-size: cover;
    border-radius: 50%;
    width: 400px;
    height: 400px;
    padding: 50px;
}

.hero-img > .item > a {
    z-index: 1;
}

.hero-img img {
    width: 300px;
    border-radius: 20px;
    animation: floatImage 4s ease-in-out infinite;
}

@keyframes floatImage {
    0% { transform: translateY(0px); }
    50% { transform: translateY(-15px); }
    100% { transform: translateY(0px); }
}

.section {
    padding: 10rem 20rem 20rem;
}

.section h2 {
    font-size: 2rem;
    margin-bottom: 2rem;
    color: #f0f7f4;
    border-radius: 10px;
    text-align: center;
}

#about {
    background: #3DDC97;
}

#about h2 {
    background: #0f1115;
}

.section > p {
    font-size: 24px;
}

.services, .portfolio {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
}

#portfolio {
    background: #3DDC97;
    padding-bottom: 30pc;
}

#portfolio h2 {
    background-color: #0f1115;
}

.card {
    background-color: #1c1f25;
    padding: 2rem;
    border-radius: 10px;
    flex: 1 1 300px;
    transition: transform 0.3s;
}

.card h3 {
    color: #3DDC97;
    margin-bottom: 1rem;
}

.card p {
    font-size: 2rem;
    color: #ccc;
}

.card:hover {
    transform: scale(1.05);
}

#contact {
    background: #3DDC97;
    max-width: 500px;
    margin: 40px auto;
    padding: 20px;
    background-color: #1C1F25;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    margin-bottom: 20rem;
}

#contact h2 {
    background-color: #0f1115;
    margin-bottom: 20px;
    text-align: center;
}

#contact form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#contact input,
#contact select,
#contact button {
    padding: 10px;
    border: 1px solid #3DDC97;
    border-radius: 5px;
}

#contact button {
    background-color: #3DDC97;
    color: white;
    border: none;
    cursor: pointer;
}

#contact button:hover {
    background-color: #2bc589;
}

footer {
    padding: 2rem;
    text-align: center;
    color: #777;
    background-color: #0f1115;
}

.cube {
    width: 150px;
    height: 150px;
    color: #3DDC97;
    position: relative;
    transform-style: preserve-3d;
    animation: rotate 15s infinite linear;
    margin: 0 50rem;
    z-index: -1;
}

.face {
    position: absolute;
    width: 500px;
    height: 500px;
    background: #3DDC97;
    opacity: 0.9;
    border: 2px solid rgb(255, 255, 255);
}

.front  { transform: translateZ(75px); }
.back   { transform: rotateY(180deg) translateZ(75px); }
.right  { transform: rotateY(90deg) translateZ(75px); }
.left   { transform: rotateY(-90deg) translateZ(75px); }
.top    { transform: rotateX(90deg) translateZ(75px); }
.bottom { transform: rotateX(-90deg) translateZ(75px); }

.skills-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

.skill {
    background-color: #1c1f25;
    padding: 1rem;
    border-radius: 10px;
    flex: 1 1 300px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
    transition: transform 0.3s;
}

.skill:hover {
    transform: scale(1.05);
}

.skill-icon {
    font-size: 30px;
    margin-bottom: 10px;
}

.skill-name {
    margin-bottom: 8px;
    font-weight: bold;
}

.progress-bar {
    background-color: #334155;
    border-radius: 10px;
    height: 10px;
    overflow: hidden;
}

.progress {
    height: 100%;
    border-radius: 10px;
}

.Css { background-color: #3b82f6; width: 90%; }
.Html { background-color: #f59e0b; width: 85%; } 
.JavaScript { background-color: #FFD600; width: 80%; }
.Java { background-color: #8D78EE; width: 75%; } 
.mySQL { background-color: #00A2FF; width: 70%; }


@media (max-width: 1200px) {
    header {
        padding: 2rem 10rem;
    }

    .hero {
        padding: 10rem 10rem 15rem;
        flex-direction: column;
        text-align: center;
    }

    .hero-img {
        position: static;
        transform: none;
        margin-top: 3rem;
        width: 300px;
        height: 300px;
    }

    .hero-text {
        max-width: 100%;
    }

    .section {
        padding: 5rem 10rem;
    }

    .card {
        flex: 1 1 calc(50% - 2rem); /* Two cards per row */
    }

    .cube {
        margin: 0 auto; /* Center the cube */
    }
}


@media (max-width: 768px) {
    header {
        padding: 1.5rem 2rem;
        flex-direction: column;
        gap: 1rem;
    }

    nav {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    nav a {
        margin: 0.5rem 0.8rem;
    }

    .hero {
        padding: 10rem 2rem 10rem;
    }

    .hero-text h1 {
        font-size: 2.5rem;
    }

    .hero-img {
        width: 250px;
        height: 250px;
    }

    .section {
        padding: 4rem 2rem;
    }

    .section > p {
        font-size: 18px;
    }

    .portfolio .card {
        flex: 1 1 100%;
    }

    #portfolio {
        padding-bottom: 10rem;
    }

    #contact {
        margin-bottom: 10rem;
        max-width: 90%;
    }

    .cube {
        width: 100px;
        height: 100px;
        margin: 0 auto;
    }

    .face {
        width: 300px;
        height: 300px;
    }
}

@media (max-width: 480px) {
    header {
        padding: 1rem 1rem;
    }

    nav a {
        font-size: 0.9rem;
        margin: 0.3rem 0.5rem;
    }

    .hero {
        padding: 6rem 1rem 8rem;
    }

    .hero-text h1 {
        font-size: 2rem;
    }

    .hero-text p {
        font-size: 0.9rem;
    }

    .hero-text button {
        padding: 0.6rem 1.2rem;
    }

    .hero-img {
        width: 200px;
        height: 200px;
        padding: 30px;
    }

    .section {
        padding: 3rem 1rem;
    }

    .section > p {
        font-size: 16px;
    }

    .card {
        padding: 1.5rem;
    }

    .card h3 {
        font-size: 1.2rem;
    }

    .card p {
        font-size: 1.5rem;
    }

    .skills-container {
        gap: 20px;
    }

    .skill {
        flex: 1 1 100%;
    }

    .cube {
        width: 80px;
        height: 80px;
    }

    .face {
        width: 240px;
        height: 240px;
    }
}
